pandas
numpy
matplotlib
scikit-learn
xgboost
ucimlrepo
joblib
torch
transformers
datasets
accelerate
evaluate
sentence-transformers
faiss-cpu
beautifulsoup4
requests
pypdf
python-docx
safetensors
streamlit
huggingface-hub
shap
